extends layout

block content
  .account-page
    .account-page__header
      h2.account-page__title #{searchedUser.username}'s #{title}
      hr.account-page__underline

    //- Public users can't see this.
    //- Only shows if user is logged in and it matches the user's profile page
    if user && user.username === searchedUser.username
      form.account-page__userform(action=`/user` method="POST")
        h4 Update User Profile
        hr

        label(for="firstName") First Name
        input(type="text" name="firstName" value=user.firstName)

        label(for="lastName") Last Name
        input(type="text" name="lastName" value=user.lastName)

        label(for="email") Email
        input(type="text" name="email" value=user.email)

        input.button(type="submit" value="Update Information")

    .whisky-list
      h3.whisky-list__title Reviews
      ul.whisky-list__whiskies
        each whisky in searchedUserReviews
          li.whisky-list__whisky
            //- Limit to 8 words
            a.whisky-list__whisky--link(href=`/whisky/${whisky.slug}` title=`${whisky.name}`) #{whisky.name.split(' ').slice(0, 8).join(' ')}
