doctype html
html
  head
    title= `${title} | ${h.websiteName}`
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway|Roboto")
    link(rel='stylesheet', href='/dist/style.css')
  body

    block header
      header.header
        nav.nav
          .nav__section.nav__section--brand
            li.nav__item
              a.nav__link(href="/") WhiskyPark

          .nav__section.nav__section--pages
            each navPage in h.menu
              li.nav__item
                a.nav__link(href=navPage.slug, class=(currentPath.startsWith(navPage.slug) ? 'nav__link--active' : '')) #{navPage.title}

            if user
              li.nav__item
                .dropdown
                  div.nav__link.dropdowndiv
                    img.dropbtn.avatar(src=user.gravatar + 'd=retro')
                  #myDropdown.dropdown__content
                    a.dropdown__link(href=`/user/${user.username}`) My Profile
                    a.dropdown__link.logout(href="/logout") Log Out
            else
              li.nav__item
                a.nav__link(href='/login', class=(currentPath.startsWith('/login') ? 'nav__link--active' : '')) Log In
              li.nav__item
                a.nav__link(href='/register', class=(currentPath.startsWith('/register') ? 'nav__link--active' : '')) Sign Up


    block messages
      if locals.flashes
        .container
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    .container.content
      block content

    block footer
      footer.footer
        .footer__upper
          h1 Follow Us
          ul.footer__socialmedia_list
            li.footer__socialmedia.facebook
              a(href="https://www.facebook.com" target="_blank" title="Facebook")
                i.fa.fa-facebook(aria-hidden="true")
            li.footer__socialmedia.instagram
              a(href="https://www.instagram.com" target="_blank" title="Instagram")
                i.fa.fa-instagram(aria-hidden="true")
            li.footer__socialmedia.twitter
              a(href="https://www.twitter.com" target="_blank" title="Twitter")
                i.fa.fa-twitter(aria-hidden="true")
        .footer__lower
          p &copy; 2017 Min Soo Kim, WhiskyPark

    block scripts
      script(src="/dist/App.bundle.js")
