extends layout

include mixins/_commentForm
include mixins/_comment

block content
  .review
    .review__header
      a.back-to-index(href="/whiskies") Back to Whiskies
      p.review__title #{review.name}
        span.review__bottle-details (#{review.abv}% / #{review.amount}ml)

        if user
          - var author = review.author ? review.author.equals(user._id) : false
          if author
            a.button.review__button(href=`/whisky/${review._id}/edit`) Edit
            a.button.review__button.delete(href=`/whisky/${review._id}/delete`) Delete
      
        - var author = review.author ? review.author.username : 'unknown'
        p.review__author By #{author} at 
          span.review__date #{h.moment(review.created).format("MMMM Mo YYYY, h:mm a")} PT
    
    .review__image-aside
      img(src=`/uploads/${review.photo || ''}`, alt=`${review.name}`, title=`${review.name}`)

    .review__info-section
      p.review__rating
        strong Rate: 
        | #{review.rating} / 10

      .review__description
        p.review__description--title
          strong #{review.name} Notes:
        p.review__description-notes #{review.description}

      .review__details
        p.review__details--title
          strong Tasting Notes 

        p.review__details--msg
          strong Nose: 
          | #{review.nose}
        p.review__details--msg
          strong Palate
          | : #{review.palate}
        p.review__details--msg
          strong Finish
          | : #{review.finish}

    .review__comment-section
      h2 Comments:
      if user
        +commentForm(review)

      if review.comments
        .review__comments
          each comment in review.comments
            .review__comment
              +commentBox(comment)