extends layout

block content
  .review
    a.back-to-index(href="/whiskies") Back to Whiskies
    p.review__title #{review.name}
      span.review__bottle-details (#{review.abv}% / #{review.amount}ml)
      if user && review.author.equals(user._id)
        a.button.review__button(href=`/whisky/${review._id}/edit`) Edit
    
    p.review__author By #{review.author.firstName} at 
      span.review__date #{h.moment(review.created).format("MMMM Mo YYYY, h:mm a")}
    
    .review__rating
      p #{review.rating} / 10

    .review__info
      p.review__info--title #{review.name} Notes:
      p.review__info-notes #{review.description}

    .review__details
      p.review__details--title Tasting Notes

      p
        strong Nose: 
        | #{review.nose}
      p
        strong Palate: 
        | #{review.palate}
      p
        strong Finish: 
        | #{review.finish}