extends layout

block content
  a(href="/whiskies") Back to Whiskies

  .review
    h2= title

    a(href=`/whisky/${review._id}/edit` class="button") Edit
    
    .review__rating
      p #{review.rating} / 10

    .review__info
      p Info: #{review.description}

    .review__details
      p Nose: #{review.nose}
      p Taste:  #{review.taste}
      p Finish:  #{review.finish}