mixin whiskyCard(review = {})
  .whiskycard
    a(href=`/whisky/${review.slug}`)
      img.whiskycard__img(src=`/uploads/${review.photo || ''}` alt=`${review.name || 'Needs Image'}` title=`${review.name || 'Needs Image'}`)
    .whiskycard__info
      h3.whiskycard__title
        a(href=`/whisky/${review.slug}`) #{review.name}
      p.whiskycard__detail #{review.description.split(' ').slice(0, 15).join(' ')}...